body {
    margin: 0;
    padding: 0;
}

#cabeçalho {
    background-color: #6e351b;
    display: flex;
    height: 60px;
}

h1 {
    color: white;
    margin: 30px;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

#menu-container {
    display: flex;
    justify-content:space-between;
    align-items: center;   
}

.Lmenu a {
    color: white;
    text-decoration: none;
}

.Lmenu {
    padding: 10px;
    display: inline;
    list-style: none;   
}

#conteudo {
    background-color: #ffc93e;
    width: 960px;
    height: 650px;
    margin: 0 auto;
}

h2 {
    margin: 0;
    padding: 15px;
    display: flex;
    justify-content:center;


}

img {
    width: 200px;
    height: 200px;
}

.coluna {
    width: 200px;
    height: 400px;
    float: left;
    margin: 20px;
    justify-content: space-evenly;
}

h3 {
    display: flex;
    align-items: center;
    justify-content: center;
}

#textoFooter {
    color: white;
    height: 60px;
    background-color: #6e351b;
    display: flex;
    justify-content: center;
    align-items: center;
}
