body {
    margin: 0;
    padding: 0;
}

#cabeçalho {
    background-color: #6e351b;
    display: flex;
    height: 60px;
}

h1 {
    color: white;
    margin: 30px;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

#menu-container {
    display: flex;
    justify-content:space-between;
    align-items: center;   
}

.Lmenu a {
    color: white;
    text-decoration: none;
}

.Lmenu {
    padding: 10px;
    display: inline;
    list-style: none;   
}

#conteudo {
    background-color: #ffc93e;
    height: 960px;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#textoFooter {
    height: 60px;
    background-color: #6e351b;
    display: flex;
    justify-content: center;
    align-items: center;
}